bin/
lib/
pip-selfcheck.json
pyvenv.cfg
share/
__pycache__/

output/
logs/
data/

.tagger.pickle

text/
models/
paragraphs/
paragraphs_before_election/
paragraphs_after_election/
paragraphs_election_only/
paragraphs_without_election/

# the following data files should probably be checked in at some point
weights.json
barth_composition.csv
barth.composition.csv
election_topic.csv
frequencies.csv

node_modules/

.DS_Store
